.contact p {
  display: inline;
  text-align: center;
  border-radius: 0;
}

.contact a {
  display: inline;
  text-align: center;
  border-radius: 0;
  color: #000 !important;
  font-weight: bolder;
  text-decoration: underline;
}

.contact a:hover {
  text-decoration: none;
  text-transform: uppercase;
}